# Logs
*.log

# Virtual environment
venv/
.env

# Windows thumbnail dir
Thumbs.db

# Build / output
build/
dist/
*.egg-info/

# Caches and bytecode
__pycache__/
*.pyc
*.pyo

# IDE files
.vscode/
.idea/

# Optional: ignore demo_data.json if it's temporary
# demo_data.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
